<?xml version="1.0"?>
<config>
  <modules>
    <Autorespondermax_Autorespondermax>
      <version>12.4.0</version>
    </Autorespondermax_Autorespondermax>
  </modules>
  <global>
    <blocks>
      <autorespondermax>
        <class>Autorespondermax_Autorespondermax_Block</class>
      </autorespondermax>
    </blocks>
    <helpers>
      <autorespondermax>
        <class>Autorespondermax_Autorespondermax_Helper</class>
      </autorespondermax>
    </helpers>
    <models>
      <autorespondermax>
        <class>Autorespondermax_Autorespondermax_Model</class>
        <resourceModel>autorespondermax_resource</resourceModel>
      </autorespondermax>
      <autorespondermax_resource>
        <class>Autorespondermax_Autorespondermax_Model_Mysql4</class>
        <entities>
          <subscriber>
            <table>autorespondermax_subscriber</table>
          </subscriber>
        </entities>
      </autorespondermax_resource>
    </models>
    <resources>
      <autorespondermax_setup>
        <setup>
          <module>Autorespondermax_Autorespondermax</module>
        </setup>
      </autorespondermax_setup>
    </resources>
    <events>
      <newsletter_subscriber_save_commit_after>
        <observers>
          <autorespondermax_observer_subscriber>
            <type>singleton</type>
            <class>Autorespondermax_Autorespondermax_Model_Observer</class>
            <method>updateSubscriber</method>
          </autorespondermax_observer_subscriber>
        </observers>
      </newsletter_subscriber_save_commit_after>
    </events>
  </global>
  <default>
    <autorespondermax>
      <credentials>
        <use_tracking>0</use_tracking>
      </credentials>
    </autorespondermax>
  </default>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <autorespondermax after="Mage_Adminhtml">Autorespondermax_Autorespondermax</autorespondermax>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <autorespondermax translate="title">
                      <title>Autoresponder Max</title>
                      <sort_order>400</sort_order>
                    </autorespondermax>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <frontend>
    <layout>
      <updates>
        <autorespondermax>
          <file>autorespondermax.xml</file>
        </autorespondermax>
      </updates>
    </layout>
  </frontend>
  <crontab>
    <jobs>
      <catalogrule_apply_all>
        <schedule>
          <cron_expr>0 0 * * *</cron_expr>
        </schedule>
        <run>
          <model>autorespondermax/observer::dailyRefresh</model>
        </run>
      </catalogrule_apply_all>
    </jobs>
  </crontab>
</config>
